<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://telegra.ph/file/b2d8bc7cbb7dd678eb207.jpg" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="monetag" content="035a24fd1e38c50abc09f732408e9287">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />
    
        									 
<style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Aerospace Orange;
      font-family: serif;
      }
    </style>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Aerospace Orange;
      font-family: serif;
      }
    </style>
</head>

<body>
	
    <header>
        <marquee bgcolor="#00ff22"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

    <footer>
	    <center><h4>Video not playing ? possibly because your browser or the player doesn't support codec please download and watch :D</h4></center><p>
	    <center><h2></h2><a href="https://telegram.me/ABMovieHouse">
<input type="button" style="background-color:Saffron;color:Black;width:150px;height:40px;" value="𝗠𝗢𝗩𝗜𝗘 𝗖𝗛𝗔𝗡𝗡𝗘𝗟">
	</body>
  </html>
	    <center><h2><a href="https://telegram.me/AB_BotZ_Update">
<input type="button" style="background-color:White;color:Red;width:150px;height:40px;" value="𝗕𝗢𝗧 𝗨𝗣𝗗𝗔𝗧𝗘">
	</body>
  </html>
	    <center><h2><a href="https://telegram.me/abmovierequestgroup">
<input type="button" style="background-color:Green;color:Yellow;width:150px;height:40px;" value="𝗥𝗘𝗤𝗨𝗘𝗦𝗧 𝗚𝗥𝗢𝗨𝗣">
	</body>
  </html>   	    

    <footer>
	     <center><h4>Hy Friends</h4></center><p>
		    
    
    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
	</html>
	
